<!DOCTYPE html>
<!-- cspell:disable -->
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width">
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="/static/main.css">
</head>
<body class="main-grid">
	<input type="checkbox" id="menu-toggle" />
	<header class="main-header">
		<label for="menu-toggle" class="menu-trigger">Menu</label>
		<nav class="main-menu">
			<ul>
				<li><a href="/">Startseite</a></li>
				<li><a href="/experiment-a/">Gesichter finden</a></li>
				<li><a href="/experiment-b/">Gesichter erkennen</a></li>
				<li><a href="https://www.hiig.de/datenschutzerklaerung/">Datenschutz</a></li>
				<li><a href="https://www.hiig.de/impressum/">Impressum</a></li>
			</ul>
		</nav>
	</header>
	<main>
		{{content}}
	</main>

	<footer class="main-footer">
		<h2>Kooperationspartner</h2>
		<ul>
			<li>Alexander von Humboldt Institute for Internet and Society</li>
			<li>neuland und gestalten</li>
		</ul>
	</footer>

	<script type="application/javascript">
		const menuLinks = Array.from(document.querySelectorAll(".main-menu a"))
		const urlPath = document.location.pathname
		
		menuLinks.forEach(link => {
			console.log(link.getAttribute("href"), urlPath)
			if (link.getAttribute("href") == urlPath) {
				link.classList.add("active")
			}
		})
	</script>
	
</body>
</html>

