<!DOCTYPE html>
<!-- cspell:disable -->
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8" />
    <title>KI Experimente – KI menschlich erklärt</title>
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <body class="main-grid">
    
		{{menu}}
		
    <main>{{content}}</main>

    {{footer}}

    <script type="application/javascript" src="/static/misc.js"></script>

    <script type="application/javascript">
      const menuLinks = Array.from(document.querySelectorAll(".main-menu a"));
      const urlPath = document.location.pathname;

      menuLinks.forEach((link) => {
        console.log(link.getAttribute("href"), urlPath);
        if (link.getAttribute("href") == urlPath) {
          link.classList.add("active");
        }
      });
    </script>

    <!-- TODO: Add Matomo -->
  </body>
</html>
