<!DOCTYPE html>
<!-- cspell:disable -->
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="/static/main.css">
</head>
<body class="striped main-grid">
	<input type="checkbox" id="menu-toggle" checked/>
	<header class="main-header">
		<label for="menu-toggle" class="menu-trigger">Menu</label>
		<nav class="main-menu">
			<ul>
				<li>Home</li>
				<li>Experiment A</li>
				<li>Experiment B</li>
				<li>Privacy Policy</li>
				<li>Imprint</li>
			</ul>
		</nav>
	</header>
	<main>
		{{content}}
	</main>
	
</body>
</html>

