/* begin: globals */
:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-beige: #ffe6a6;
  --color-orange-pale: #fbd1b2;
  --color-blue-light: #afc8db;
  --color-orange-heavy: #ec6408;
  --color-blue-heavy: #618aac;
  --color-teal: #00779e;
  --color-orange-light: #f7af7e;
  --color-yellow-faded: #c69f33;
  --color-copy: #555;

  --stripe0: rgba(0, 0, 0, 0);
  --stripe1: rgba(0, 0, 0, 0.3);

  --font-body: "PT Sans", Helvetica, Roboto, sans-serif;
  --font-heading: "PT Sans", Helvetica, Roboto, sans-serif;

  --burger-line-height: 5px;
  --burger-line-width: 2.5rem;
  --burger-line-padding: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* end: globals */

/* begin: page basics */
html {
  font-family: var(--font-body);
  font-size: 16px;
  line-height: 1.3;
  color: var(--color-copy);
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
  background-color: var(--color-black);
}
/* end: page basics */

/* begin: basic elements */

a {
  text-decoration: underline;
  color: inherit;
}

h1,
h2,
h3 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-size: 1rem;
}

h1 {
  font-size: 1.2rem;
  font-weight: 700;
}

h2,
h3 {
  font-size: 1rem;
  margin: 0;
  font-weight: bold;
}

img {
  display: block;
  width: 100%;
}

a.bnt,
button {
  text-decoration: none;
  border: 3px solid var(--color-white);
  padding: 1.3rem 2.0rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.02em;
  background: #0005;
  background-blend-mode: multiply;
  color: var(--color-white);
  font-size: 1rem;
}

/* end: basic elements */

/* begin: grid structure */
.main-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;

  grid-template-areas:
    "menu"
    "main"
    "footer";
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  background-color: var(--color-teal);
  color: var(--color-white);
}

.main-footer {
  grid-area: footer;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.main-footer .title {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  font-weight: bold;
  color: var(--color-white);
  font-size: 1.2rem;
  min-width: max-content;
}

.main-footer .legal-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.main-footer .legal-menu li a {
  font-size: 0.8rem;
  color: var(--color-white);
  opacity: 0.5;
  text-decoration: none;
}

.main-footer .legal-menu li:hover a {
  opacity: 1;
  text-decoration: underline;
}

/* begin: content elements */
main .container {
  padding: 0 2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
	min-width: 30vw;
}

main .container:first-element {
  margin-top: auto;
}

main .container:last-element {
  margin-bottom: auto;
}

main .container section {
  margin: 2rem 0 0;
}

/* end: content elements */

.co-ops {
  margin: 0;
  padding: 0;

  list-style: none;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 20vw;
}

.co-ops li{
  display: block;
  aspect-ratio: calc(4 / 2);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  text-indent: -9999rem;
}

.hiig {
  background-image: url(/assets/logo-hiig.png);
}

.nug {
  background-image: url(/assets/logo-nug.svg);
} 
/* end: grid structure */

/* begin: header and menu */
.main-header {
  position: fixed;
  max-height: 100vh;
  width: 100vw;
  z-index: 100;
}

.menu-trigger {
  position: fixed;
  top: 1rem;
  left: calc(100% - 1rem - var(--burger-line-width));
  display: block;
  width: var(--burger-line-width);
  height: calc(3 * var(--burger-line-height) + 2 * var(--burger-line-padding));
  position: relative;
  margin: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 200;
}

.menu-trigger span {
  display: block;
  position: absolute;
  height: var(--burger-line-height);
  width: 100%;
  background: white;
  border-radius: var(--burger-line-height);
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.menu-trigger span:nth-child(1) {
  top: 0px;
}

.menu-trigger span:nth-child(2),
.menu-trigger span:nth-child(3) {
  top: calc(var(--burger-line-height) + var(--burger-line-padding));
}

.menu-trigger span:nth-child(4) {
  top: calc(2 * var(--burger-line-height) + 2 * var(--burger-line-padding));
}

#menu-toggle:checked ~ .menu-trigger span:nth-child(1) {
  top: calc(var(--burger-line-height) + var(--burger-line-padding));
  width: 0%;
  left: 50%;
}

#menu-toggle:checked ~ .menu-trigger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#menu-toggle:checked ~ .menu-trigger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#menu-toggle:checked ~ .menu-trigger span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked ~ .main-menu {
  max-height: 100vh;
  height: 100vh;
  width: 100vw;
}

/* #menu-toggle:checked ~ .menu-trigger  {
  transform: rotate(90deg);
} */

.main-menu {
  max-height: 0;
  overflow: hidden;
  background: var(--color-teal);
  position: absolute;
  top: 0;
  display: flex;
}

.main-menu ul {
  margin: auto;
  padding: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  align-items: center;
}

.main-menu ul li {
  list-style: none;
}

.main-menu a,
.main-menu a:visited {
  text-decoration: none;
  color: var(--color-white);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  position: relative;
}

.main-menu a.active:before {
  content: "\25BE";
  position: absolute;
  color: var(--color-teal);
  top: calc(0px - 2rem - 0.55em);
  left: 50%;
  font-size: 3rem;
}
/* end: header and menu */

/* begin: teaser/launcher */

.teaser {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 2rem;
  gap: 2rem;
}

.teaser .ex,
.launcher {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  background: no-repeat center center;
  background-size: cover;
	aspect-ratio: calc(4/3);
}

.teaser .A {
  background-image: url("/assets/bg-image-6.jpg");
}

.teaser .B {
  background-image: url("/assets/bg-image-5.jpg");
}

#experiment-a .launcher {
  background-image: url(/assets/bg-image-6.jpg);
}
#experiment-b .launcher {
  background-image: url(/assets/bg-image-5.jpg);
}
.experiment.about .launcher {
  background-image: url(/assets/bg-image-4.jpg);
}

/* end: launcher */

/* begin: experiment */
.experiment {
  width: 100%;
  padding: 2rem;
  position: relative;
  aspect-ratio: calc(4 / 3);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@keyframes loading-spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.experiment .loader,
.experiment .error {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-teal);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.experiment .error {
  z-index: 60;
}

.experiment .error * {
  max-width: 20rem;
  text-align: center;
}

.experiment .loader {
  z-index: 50;
}

.experiment .loader::after {
  content: "";
  width: 64px;
  height: 64px;

  background-image: url(/static/loading-spinner.svg);
  background-size: cover;

  animation: 1s linear infinite loading-spinner;
}

.experiment video,
.experiment .live-canvas {
  width: 100%;
  display: block;
}

.experiment video {
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 0;
  width: calc(100% - 4rem);
}

.experiment .live-canvas {
  position: relative;
  z-index: 10;
}

.experiment .reference {
  display: none;
}

.experiment .overlay {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-direction: row-reverse;
  gap: 1rem;
  flex-wrap: wrap-reverse;

  padding: 1rem;
}

.experiment .overlay .image-upload {
  transform: translate(-1000rem);
  position: absolute;
}

.experiment .overlay button,
.experiment .overlay label {
  display: block;
  background-color: var(--color-teal);
  border: 2px solid var(--color-white);
  color: var(--color-white);
  cursor: pointer;

  width: 3rem;
  height: 3rem;

  text-indent: -9999rem;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 2rem 2rem;
  background-position: center center;
	background-blend-mode: normal;
} 

.experiment .overlay button:focus,
.experiment .overlay input[type="file"]:focus + label {
  outline: 3px solid var(--color-teal);
}

#experiment-b .capture-reference {
  background-image: url("/assets/icon-camera.png");
}

#experiment-b .upload-reference {
  background-image: url("/assets/icon-upload.png");
}

#experiment-b .confirm-reference {
  background-image: url("/assets/icon-confirm.png");
}

#experiment-b .cancel-reference {
  background-image: url("/assets/icon-cancel.png");
}

#experiment-b.reference-preview .upload-reference,
#experiment-b.reference-preview .capture-reference {
  display: none;
}

#experiment-b.default .confirm-reference,
#experiment-b.default .cancel-reference {
  display: none;
}

/* end: experiment */

.icon-help {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: min-content 1fr;
  gap: 1rem;
  align-items: center;
}

.icon-help .icon {
  width: 2rem;
  height: 2rem;
  background-color: var(--color-teal);
  display: flex;
  align-items: center;
  justify-content: center;
	border: 1px solid var(--color-white);
}

.icon-help .icon img {
  width: 1.5rem;
  height: 1.5rem;
}

.hint {
  display: grid;
  grid-template-rows: 1rem auto auto;
  grid-template-columns: auto;
  grid-template-areas:
    "heading"
    "image"
    "inner";

  gap: 1rem;
}

.hint .heading {
  grid-area: heading;
  margin: 0;
}

.hint .image {
  grid-area: image;
}

.hint .inner {
  grid-area: inner;
}

.hint .inner :first-child {
  margin-top: 0;
}

.hint .inner :last-child {
  margin-bottom: 0;
}

.debug-output {
  width: 200px;
  min-height: 200px;
}

canvas.reference {
  width: 100%;
}

.video-embed {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.video-embed iframe {
  aspect-ratio: calc(4 / 3);
  width: 100%;
}

@media (min-width: 32rem) {
  .hint {
    grid-template-rows: 1rem auto;
    grid-template-columns: min(16rem, 30%) auto;
    grid-template-areas:
      "image heading"
      "image inner";
  }
}

@media (min-width: 55rem) {
	.teaser, .experiment {
		aspect-ratio: unset;
		height: 100%;
		padding: 0;
		flex: calc((100vh - 5.2rem) * 4 / 3) 0 1;
	}

	.experiment.about{
		flex: calc((100vh - 5.2rem) * 3 / 4) 0 1;
	}

	.experiment.about .launcher{
		height: 100%;
	}

  .teaser {
    gap: 0;
  }

	.teaser .ex,
	.launcher{
		aspect-ratio: unset;
	}

  .main-grid {
    grid-template-columns: minmax(0,2fr) 1fr;
    grid-template-rows: calc(100vh - 5.2rem) 5.2rem;
    align-content: center;

    grid-template-areas:
      "main main"
      "footer menu";

    max-height: 100vh;
  }

  .main-header {
    position: relative;
    width: unset;
    height: 1rem;
    max-width: max-content;
    padding: 2rem;
  }

  .menu-trigger {
    display: none;
  }

  .main-menu {
    position: relative;
    max-height: initial;
    overflow: initial;
    background: transparent;
    height: unset;
    width: unset;
  }

  .main-menu ul {
    width: max-content;
    height: 1.2rem;
    margin: 0;
    flex-direction: row;
    gap: 2rem;
  }

  .main-footer {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
  }

  main {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
  }

  main .container {
    height: 100%;
    overflow-y: scroll;
    padding: 2rem;
		flex: 400px 1 0;
  }

  main .container.start{
    justify-content: center;
  }

  .experiment {
    background: var(--color-black);
  }

  .experiment video {
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: calc(0px - 50% / 4 * 3);
  }

  .hint {
    display: grid;
    grid-template-rows: 1rem auto;
    grid-template-columns: min(16rem, 40%) auto;
    grid-template-areas:
      "heading heading"
      "image inner";

    gap: 1rem;
  }
}

.off-screen {
  position: absolute;
  transform: translate(-1000rem);
}
