/* begin: globals */
:root {
	--color-white: #FFFFFF;
	--color-black: #000000;
	--color-beige: #FFE6A6;
	--color-orange-pale: #FBD1B2;
	--color-blue-light: #AFC8DB;
	--color-orange-heavy: #EC6408;
	--color-blue-heavy: #618AAC;
	--color-teal: #00779E;
	--color-orange-light: #F7AF7E;
	--color-yellow-faded: #C69F33;

	--stripe0: rgba(0, 0, 0, 0);
	--stripe1: rgba(0, 0, 0, .3);
}

* {
	box-sizing: border-box;
}
/* end: globals */


/* begin: page basics */
html {
	font-family: sans-serif;
	font-size: 16px;
	line-height: 1.3;
}


body {
	margin: 0 auto;
	padding: 0;
	max-width: 60rem;
	min-height: 100vh;

	background-color: var(--color-teal);
}
/* end: page basics */


/* begin: basic elements */

a {
	color: var(--color-teal);
}

a:visited {
	color: var(--color-blue-heavy);
}

h1, h2, h3 {
	font-weight: 500;
}

h3 {
	font-size: 1.2rem;
}

img {
	display: block;
	width: 100%;
}
/* end: basic elements */

/* begin: content elements */
.container {
	padding: 1rem 3rem;
}
.container > *:first-child {
	margin-top: 0;
}
.container > *:last-child {
	margin-bottom: 0;
}

main header {
	background-color: var(--color-orange-heavy);
	color: var(--color-white);
}

main section {
}
/* end: content elements */


/* begin: grid structure */
.main-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: minmax(4rem, auto) 1fr 2rem min-content 2rem;

	grid-template-areas:
		"menu"
		"main"
		".   "
		"footer"
		".   ";

}


main {
	grid-area: main;
	display: flex;
	flex-direction: column;
	/*gap: 2rem;*/
	padding-bottom: 1rem;
	background-color: var(--color-white);
	color: var(--color-black);
}

.main-footer {
	grid-area: footer;
	background-color: var(--color-white);
	padding: 1rem 3rem;
}

.main-footer .co-ops {
	margin: 0;
	padding: 0;

	list-style: none;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr;
	gap: 4rem;
}

.main-footer .co-ops li {
	aspect-ratio: calc(4/2);
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	overflow: hidden;
	text-indent: -9999rem;
}

.main-footer .hiig {
	background-image: url(/assets/logo-hiig.png);
}

.main-footer .nug {
	background-image: url(/assets/logo-nug.svg);
}
/* end: grid structure */


/* begin: header and menu */
.main-header {
	grid-area: menu;
	padding: 1rem 2rem;
	position: sticky;
	top: 0;
	left: 0;
	max-height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: flex-end;
	background-color: var(--color-teal);

	z-index: 100;
}

.menu-trigger {
	display: block;
	background-image: url(/static/menu.svg);
	width: 2rem;
	height: 2rem;
	overflow: hidden;
	text-indent: 9999rem;

	transition: transform linear 100ms;
}


#menu-toggle {
	display: none;
}

#menu-toggle:checked ~ .main-header {
	row-gap: 1rem;
}

#menu-toggle:checked ~ .main-header .main-menu {
	max-height: 100vh;

}

#menu-toggle:checked ~ .main-header .menu-trigger {
	transform: rotate(90deg);
}

.main-menu {
	max-height: 0;
	overflow: hidden;
}

.main-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	row-gap: 1rem;

	align-items: flex-end;
}

.main-menu ul li {
}

.main-menu a,
.main-menu a:visited {
	text-decoration: none;
	color: var(--color-white);
	font-weight: 600;
}

.main-menu a.active {
	color: var(--color-orange-heavy);
}
/* end: header and menu */


/* begin: experiment */
.experiment {
	position: relative;
}

.experiment video,
.experiment .live-canvas {
	width: 100%;
	display: block;
}

.experiment video {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

.experiment .live-canvas {
	position: relative;
	z-index: 10;
}

.experiment .reference {
	display: none;
}

.experiment .overlay {
	position: absolute;
	z-index: 20;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
	flex-direction: row-reverse;
	gap: 1rem;
	flex-wrap: wrap-reverse;

	padding: 1rem;
}

.experiment .overlay .image-upload {
	transform: translate(-1000rem);
	position: absolute;
}

.experiment .overlay button,
.experiment .overlay label {
	display: block;
	background-color: var(--color-orange-heavy);
	border: 2px solid var(--color-white);
	color: var(--color-white);
	cursor: pointer;

	width: 3rem;
	height: 3rem;

	text-indent: -9999rem;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: 2rem 2rem;
	background-position: center center;
}

.experiment .overlay button:focus,
.experiment .overlay input[type=file]:focus + label {
	outline: 3px solid var(--color-orange-heavy);
}

#experiment-b .capture-reference {
	background-image: url("/assets/icon-camera.png");
}

#experiment-b .upload-reference {
	background-image: url("/assets/icon-upload.png");
}

#experiment-b .confirm-reference {
	background-image: url("/assets/icon-confirm.png");
}

#experiment-b .cancel-reference {
	background-image: url("/assets/icon-cancel.png");
}

#experiment-b.reference-preview .upload-reference,
#experiment-b.reference-preview .capture-reference {
	display: none;
}

#experiment-b.default .confirm-reference,
#experiment-b.default .cancel-reference {
	display: none;
}


/* end: experiment */

/* begin: launcher */
.launcher {
	aspect-ratio: calc(2/3);
	width: 100%;
	max-height: calc(100vh - 6rem);
	display: grid;
	grid-template-rows: auto min-content;
	grid-template-columns: 1fr;
	background-color: var(--color-white);
}

.launcher .cover {
	background-size: cover;
	background-position: center center;
}

.launcher .info {
	padding: 2rem 3rem;
	display: grid
}

.launcher .info h2 {
	margin-top: 0;
}

.launcher button {
	background-color: var(--color-teal);
	border: 1px solid var(--color-blue-heavy);
	color: var(--color-white);

	font-size: 1.4rem;
	padding: 0.5rem 1rem;
	font-weight: 500;
	text-transform: uppercase;
	cursor: pointer;
}

.launcher button:hover {
	background-color: var(--color-blue-light);
	color: var(--color-teal);
}

#experiment-a .launcher .cover {
	background-image: url(/assets/bg-image-1.jpg);
}
#experiment-b .launcher .cover {
	background-image: url(/assets/bg-image-2.jpg);
}


.launcher .controls {
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: auto;
	gap: 1rem;
	justify-items: stretch;
	align-items: baseline;
}

.launcher .controls a {
	text-align: right;
}

/* end: launcher */

.icon-help {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: min-content 1fr;
	gap: 1rem;
	align-items: center;
}

.icon-help .icon {
	width: 2rem;
	height: 2rem;
	background-color: var(--color-orange-heavy);
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon-help .icon img {
	width: 1.5rem;
	height: 1.5rem;
}

.hint {
	display: grid;
	grid-template-rows: 4rem auto auto;
	grid-template-columns: auto;
	grid-template-areas:
		"heading"
		"image"
		"inner";

	gap: 1rem;
}

.hint .heading {
	grid-area: heading;
	margin: 0;
}

.hint .image {
	grid-area: image;
}

.hint .inner {
	grid-area: inner;
}

.hint .inner :first-child {
	margin-top: 0;
}

.hint .inner :last-child {
	margin-bottom: 0;
}

.debug-output {
	width: 200px;
	min-height: 200px;
}

canvas.reference {
	width: 100%;
}

.video-embed iframe {
	aspect-ratio: calc(4/3);
	width: 100%;
}

.teaser {
	margin-bottom: 1rem;
}

.teaser img {
	aspect-ratio: calc(4/2);
	object-fit: cover;
	object-position: center center;
}

@media (min-width: 24rem) {
	.launcher {
	  aspect-ratio: calc(1/1);
	}

	.hint {
		grid-template-rows: 2rem auto;
		grid-template-columns: min(16rem, 30%) auto;
		grid-template-areas:
			"image heading"
			"image inner";
	}

}

@media (min-width: 32rem) {

	.launcher .controls {
		grid-template-rows auto;
		grid-template-columns: minmax(auto, 22rem) auto;
	}
}

@media (min-width: 50rem) {
	.main-grid {
		grid-template-columns: 2rem 1fr 2rem;
		grid-template-rows : 6rem auto 2rem min-content 2rem;

		grid-template-areas:
			". menu   ."
			". main   ."
			". .      ."
			". footer ."
			". .      .";
	}

	.menu-trigger {
		display: none;
	}

	.main-menu {
		max-height: initial;
		overflow: initial;

		width: 100%;
		height: 100%;
	}

	.main-menu ul {
		width: 100%;
		height: 100%;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		gap: 2rem;
	}

	.main-header {
		position: static;
		padding: 0;
		border: none;
		background-color: var(--color-teal);
		background-size: cover;
		background-position: bottom left;
		background-repeat: no-repeat;

		color: var(--color-white);
	}

}


.off-screen {
	position: absolute;
	transform: translate(-1000rem);
}


/* begin: dev stuff */
.striped {
	background-color: var(--color-white);
	background-image: repeating-linear-gradient(
		135deg,
		var(--stripe0),
		var(--stripe0) 3px,
		var(--stripe1) 4px,
		var(--stripe0) 5px,
		var(--stripe0) 8px
	);
	background-repeat: no-repeat;
}

.placeholder {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	background-image: 
         linear-gradient(to top left,
             var(--stripe0) 0%,
             var(--stripe0) calc(50% - 1px),
             var(--stripe1) 50%,
             var(--stripe0) calc(50% + 1px),
             var(--stripe0) 100%),
         linear-gradient(to top right,
             var(--stripe0) 0%,
             var(--stripe0) calc(50% - 0.8px),
             var(--stripe1) 50%,
             var(--stripe0) calc(50% + 0.8px),
             var(--stripe0) 100%);
	border: 1px solid var(--stripe1);
}

.placeholder label {
	background-color: var(--color-white);
	padding: 1rem;
	border: 1px solid var(--stripe1);
}

.ar43 {
	aspect-ratio: 4 / 3;
}
.ar11 {
	aspect-ratio: 1 / 1;
}
/* end: dev stuff */
